<label class="checkbox-inline ml-3 mt-2">
<% if (lomaketiedot.haunkohde && (lomaketiedot.haunkohde.indexOf(hakuArvo) > -1)) { %>
    <input type="checkbox" name="haunkohde" value="<%=hakuArvo%>" checked> 
<% } else { %>
    <input type="checkbox" name="haunkohde" value="<%=hakuArvo%>"> 
<% } %>
    <%=luottokorttiTeksti%>
</label>